= form.fields_for field.translations_field do |localized_field|
  - I18n.available_locales.each do |locale|
    - val = form.object.send("#{field.name}_translations").try(:[], locale.to_s)
    %div
      = localized_field.label locale
      = localized_field.send field_type, locale, html_attributes.reverse_merge({ :value => field.value.try(:[], locale.to_s) })

